	<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="fr.adfab.speechtotextphonegap" version="1.3.3">

    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>

    <name>SpeechToTextPhonegap</name>
    <description>Plugin cordova using https://github.com/mzeeshanid/iOS-Speech-To-Text base on https://github.com/todoroo/iPhone-Speech-To-Text</description>
    <author>nicolas labbé</author>
    <license>MIT</license>
    <keywords>speech,text,cordova,mzeeshanid,todoroo</keywords>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="SpeechToTextPhonegap">
		        <param name="ios-package" value="SpeechToTextPhonegap" />
		        <param name="record" value="SpeechToTextPhonegap" />
		    </feature>
        </config-file>

        <header-file src="src/ios/SpeechToTextModule.h" />
        <source-file src="src/ios/SpeechToTextModule.m" />
        <header-file src="src/ios/SpeechToTextPhonegap.h" />
        <source-file src="src/ios/SpeechToTextPhonegap.m" />

        <framework src="AudioToolbox.framework" weak="true" />

        <framework src="src/ios/frameworks/Speex.framework" custom="true" />

		<!-- android specific notification apis -->
		<js-module src="www/SpeechToTextPhonegap.js" name="SpeechToTextPhonegap">
			<clobbers target="window.SpeechToTextPhonegap" />
		</js-module>
    </platform>

</plugin>
